@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-primario: #14213D;
    --color-secundario: #FCA311;
    --color-terciario: #0B152A;
    --color-cuaternario: #000000;
    --color-texto-botones: #0B152A;
    --color-fondo-pantalla: #E5E5E5;
    --color-fondo-elementos: #FFFFFF;
    --color-borde-elementos: #a5a5a5;
    --color-borde-tabla: #DADFE3;
    --tamaño-fuente: 1.02em;
    --filtro-color-negro: invert(0%) sepia(0%) saturate(17%) hue-rotate(272deg) brightness(90%) contrast(103%);
    --filtro-color-blanco: invert(100%) sepia(0%) saturate(0%) hue-rotate(43deg) brightness(105%) contrast(101%);
    --filtro-color-secundario: invert(59%) sepia(90%) saturate(736%) hue-rotate(351deg) brightness(103%) contrast(98%);
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #E4E9F7;
}

/*----------------------------------------INICIO ESTILOS CONTENEDOR-----------------------------------------------*/
.contenedor {
    background-color: var(--color-fondo-elementos);
    margin-inline: auto;
    height: calc(100vh - 1rem);
    width: calc(100% - 2rem);
    padding: clamp(5px,20vw,20px);
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 0.5fr auto;
    grid-template-columns: 0.3fr 0.3fr;
    gap: 0.5rem;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
    & ::-webkit-scrollbar

{
    display: none;
}

}

.contenedor > * {
    border: 1px solid var(--color-borde-elementos);
    border-radius: 10px;
}

h2 {
    font-size: 23px;
    color: var(--color-primario);
    margin: 1rem 0;
    font-weight: bold;
}

button, .button {
    border: 1px solid var(--color-borde-elementos);
    border-radius: 10px;
}

    button:hover, .button:hover {
        filter: brightness(80%);
        transition: filter 0.3s ease-out;
    }

input[type="text"], input[type="number"], select, .input {
    outline: none;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding: 1px 0 1px 7px;
}

input[readonly] {
    filter: brightness(80%);
}
/*----------------------------------------FIN ESTILOS CONTENEDOR-----------------------------------------------*/


/*----------------------------------------INICIO ESTILOS TITULO-----------------------------------------------*/
.contenedor h1 {
    background-color: var(--color-primario);
    color: white;
    padding: 1rem;
    border: none;
    font-size: 26px;
    grid-row: 1/2;
    grid-column: 1/3;
}
/*----------------------------------------FIN ESTILOS TITULO-----------------------------------------------*/


/*----------------------------------------INICIO ESTILOS INPUTS-----------------------------------------------*/
.contenedor-controles {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .contenedor-controles .controles-input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 1rem;
        & label

{
    width: 80px;
    text-align: end;
    margin-right: 1rem;
}

& .label {
    width: 80px;
    text-align: end;
    margin-right: 1rem;
}

& input, & select, .input {
    width: max(100px, 10rem);
}

& img {
    height: 30px;
}

&:first-child {
    .button

{
    width: max(30px,3.5rem);
    margin: 0 0 0 4px;
    border-radius: 5px;
}

.input {
    width: clamp(50px,80%,100px);
}

}
}
/*----------------------------------------FIN ESTILOS INPUTS-----------------------------------------------*/


/*----------------------------------------INICIO ESTILOS DATOS CAJA-----------------------------------------------*/
.contenedor-datos-caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 2/4;
    grid-column: 2/3;
}

    .contenedor-datos-caja .controles-input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 1rem;
        & label

{
    width: 130px;
    text-align: end;
    margin-right: 1rem;
}

.label {
    width: 130px;
    text-align: end;
    margin-right: 1rem;
}

& input {
    width: min(8rem,300px);
}

.input {
    width: min(8rem,300px);
}

}
/*----------------------------------------FIN ESTILOS DATOS CAJA-----------------------------------------------*/


/*----------------------------------------INICIO ESTILOS BOTONES-----------------------------------------------*/
.contenedor-botones {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    gap: 0.6rem;
}

    .contenedor-botones button, .contenedor-botones .button {
        flex: 1 1 150px;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: var(--color-terciario);
        background-color: var(--color-secundario);
        font-weight: bold;
        &:first-child

{
    background-color: var(--color-fondo-pantalla);
}

img {
    height: 42px;
}

}
/*----------------------------------------FIN ESTILOS BOTONES-----------------------------------------------*/

/*----------------------------------------INICIO MEDIAQUERYS-----------------------------------------------*/

@media (max-width:670px) {
    /* .contenedor{
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
      } */

    .controles-input, .contenedor-botones {
        grid-column: 1/3;
    }

    .contenedor-datos-caja {
        grid-row: 4/5;
        grid-column: 1/3;
        display: flex;
        justify-content: end;
    }
}
